body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('assets/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 1rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    min-width: 100px;
    max-width: 1000px;
    width: 50vw;
    height: auto;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 40px auto;
    padding: 50px;
    max-width: 1000px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
}

.footer p {
    color: #9c9c9c;
    font-size: 0.8rem;
}

.footer img {
    width: 15vw;
    min-width: 50px;
    max-width: 300px;
    margin: 20px auto;
    display: block;
}

h1 {
    color: #333;
    text-align: center;
    margin: 0 0 50px 0;
    font-weight: 550;
    font-size: 1.8rem;
}

h2 {
    color: #333;
    font-weight: 450;
    font-size: 1.3rem;
}

pre {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
    font-size: 0.8rem;
}

#intro-text {
    line-height: 1.5;
}

form, table {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    background-color: #f1f1f1;
}

table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 8px;
}

th {
    font-size: 1rem;
}

td {
    font-size: 0.8rem;
    font-family: monospace;
}

textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-family: monospace;
}

#validation-issues {
    color: red;
    margin: 0 30px 10px 30px;
    font-size: 0.8rem;
}

button[type="button"] {
    background-color: rgb(12, 49, 74);
    color: rgba(255, 255, 255, 1);
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: rgb(38, 93, 133);
}

.code-container {
    position: relative;
}

.copy-button {
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.3s;
}

.copy-code-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 6px 12px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 6px;
}

.copy-button:hover {
    background: #e0e0e0;
}

.copy-button.copied {
    background: #2a932b;
    color: white;
    border-color: #2a932b;
}

#copy-tsp-button {
    background: #9e0c0c;
    color: white;
    /*border-color: none;*/
}

#copy-tsp-button.copied {
    background: #2a932b;
    color: white;
    border-color: #2a932b;
}

.section-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    padding: 8px 0;
    width: 100%;
    text-align: left;
    margin: 10px 0;
}

.section-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.section-content {
    margin: 25px 30px 40px 30px;
}

.section-content.hidden {
    display: none;
}

.arrow {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.arrow.collapsed {
    transform: rotate(-90deg);
}

.success-banner {
    background-color: green;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    position: relative; /* Needed for positioning the close button */
    display: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
}